# Logto Auth (server-side, used in src/hooks.server.ts)
LOGTO_ENDPOINT=
LOGTO_APP_ID=
LOGTO_APP_SECRET=
LOGTO_COOKIE_ENCRYPTION_KEY=

# Convex
PUBLIC_CONVEX_URL=

# Convex Self-hosted
CONVEX_SELF_HOSTED_URL='http://127.0.0.1:3210'
CONVEX_SELF_HOSTED_ADMIN_KEY=

# Logto API Resource (used by Convex auth + client token requests)
LOGTO_API_IDENTIFIER=
PUBLIC_LOGTO_API_IDENTIFIER=
